<div data-controller="range-slider"
     data-range-slider-max-discount="<%= @max_discount %>"
     data-range-slider-total-price="<%= @total_price %>"
     class="flex flex-col gap-y-3">
  <div class="flex flex-row justify-between items-center">
    <label for="slider" class="text-lg text-gray-500">Передвигая слайдер, укажите сумму скидки</label>
    <span data-range-slider-target="display" class="text-xl font-medium text-teal-400"></span>
  </div>

  <style>
      /* Стили для Chrome/Safari/Opera */
      input[type=range]::-webkit-slider-runnable-track {
          background: #2dd4bf; /* teal-400 */
          height: 6px;
          border-radius: 3px;
      }

      input[type=range]:hover::-webkit-slider-runnable-track {
          background: #5eead4; /* teal-300 */
      }

      input[type=range]::-webkit-slider-thumb {
          -webkit-appearance: none;
          background: #2dd4bf; /* teal-400 */
          height: 42px;
          width: 42px;
          border-radius: 50%;
          margin-top: -18px; /* центрирование бегунка относительно полоски */
          cursor: pointer;
      }

      input[type=range]:hover::-webkit-slider-thumb {
          background: #5eead4; /* teal-300 */
      }

      /* Стили для Firefox */
      input[type=range]::-moz-range-track {
          background: #2dd4bf; /* teal-400 */
          height: 6px;
          border-radius: 3px;
      }

      input[type=range]:hover::-moz-range-track {
          background: #5eead4; /* teal-300 */
      }

      input[type=range]::-moz-range-thumb {
          background: #2dd4bf; /* teal-400 */
          height: 42px;
          width: 42px;
          border: none;
          border-radius: 50%;
          cursor: pointer;
      }

      input[type=range]:hover::-moz-range-thumb {
          background: #5eead4; /* teal-300 */
      }

      /* Стили для IE/Edge */
      input[type=range]::-ms-track {
          background: transparent;
          border-color: transparent;
          color: transparent;
          height: 6px;
      }

      input[type=range]::-ms-fill-lower {
          background: #2dd4bf; /* teal-400 */
          border-radius: 3px;
      }

      input[type=range]:hover::-ms-fill-lower {
          background: #5eead4; /* teal-300 */
      }

      input[type=range]::-ms-fill-upper {
          background: #d1d5db; /* серый цвет для неактивной части */
          border-radius: 3px;
      }

      input[type=range]::-ms-thumb {
          background: #2dd4bf; /* teal-400 */
          height: 42px;
          width: 42px;
          border: none;
          border-radius: 50%;
          cursor: pointer;
      }

      input[type=range]:hover::-ms-thumb {
          background: #5eead4; /* teal-300 */
      }
  </style>

  <input type="range"
         id="slider"
         min="0"
         max="<%= @max_discount %>"
         value="0"
         class="w-full h-12 appearance-none bg-transparent focus:outline-none cursor-pointer"
         data-range-slider-target="slider"
         data-action="input->range-slider#handleSlider">
</div>