<%= button_to @path, method: @method, p_class: @p_class, render: @render, data: @options do %>
  <span class="text-gray-400 font-medium hover:text-black hover:underline cursor-pointer"><%= @title %></span>
<% end %>