<%= button_to @path, method: @method, render: @render, class: "w-full", data: @options do %>
  <span class="flex w-full items-center justify-center bg-teal-400 hover:bg-teal-300 text-xl text-white cursor-pointer rounded-xl py-3"><%= @title %></span>
<% end %>