  <div class="flex flex-col gap-y-5 p-5 border-2 border-gray-100 rounded-xl">
    <div class="flex flex-row justify-between items-center">
      <p class="text-lg text-gray-500"> <%= product_count_text(@cart.picked_products_count) %> </p>
      <p class="text-xl font-medium"> <%= format_price(@cart.total_price) %> <span> &#8381;</span> </p>
    </div>
    <div class="flex flex-row justify-between items-center pt-5 border-t-2 border-gray-100">
      <p class="text-xl font-medium"> Сумма заказа </p>
      <p class="text-2xl font-semibold"> <%= format_price(@cart.total_price) %> <span> &#8381;</span> </p>
    </div>
  </div>
